######################################################################
# meteord sample configuratiuon file
#
# You may need to change or add settings in here to get Meteor to do
# what you need on your particular system.  See the following page
# in the documentation for full details of all available configuration
# parameters:
#
# http://www.meteorserver.org/server-docs/
#
######################################################################


# Header template: ~server~, ~timestamp~ and ~status~ will be replaced by
# the appropriate values
#
# The value of HeaderTemplate is reproduced from the default value - it's
# included here for completeness because we've added a HeaderTemplate2
# (below).  HeaderTemplate is designed for use with 'forever frame'
# connections in Microsoft Internet Explorer.  HeaderTemplate2 is not
# intended to ever be evaluated as HTML, and therefore is much shorter - it
# is used with the XMLHTTPRequest object.  If you are using Meteor with a
# non-browser-based client, there may be no need for a header template at
# all.

HeaderTemplate HTTP/1.1 ~status~\r\nServer: ~server~\r\nContent-Type: text/html; charset=utf-8\r\nPragma: no-cache\r\nCache-Control: no-cache, no-store, must-revalidate\r\nExpires: Thu, 1 Jan 1970 00:00:00 GMT\r\n\r\n<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">\r\n<meta http-equiv="Cache-Control" content="no-store">\r\n<meta http-equiv="Cache-Control" content="no-cache">\r\n<meta http-equiv="Pragma" content="no-cache">\r\n<meta http-equiv="Expires" content="Thu, 1 Jan 1970 00:00:00 GMT">\r\n<script type="text/javascript">\r\nwindow.onError = null;\r\nvar domainparts = document.domain.split(".");\r\ndocument.domain = domainparts[domainparts.length-2]+"."+domainparts[domainparts.length-1];\r\nparent.Meteor.register(this);\r\n</script>\r\n</head>\r\n<body onload="try { parent.Meteor.reset(this) } catch (e) {}">\r\n

HeaderTemplate2 HTTP/1.1 ~status~\r\nServer: ~server~\r\nContent-Type: text/html; charset=utf-8\r\nPragma: no-cache\r\nCache-Control: no-cache, no-store, must-revalidate\r\nExpires: Thu, 1 Jan 1970 00:00:00 GMT\r\n\r\nMeteor server data stream\r\n


# Setting a maximum time limit on streaming connections will help prevent
# zombies from hanging around forever.

MaxTime 180


# Here PingMessage is the default, but we've adjusted the PingInterval to
# reduce it from the default 5 seconds to 3 seconds.

PingMessage <script>p(-1,"");</script>\r\n
PingInterval 3


# There are many other config parameters that you can set - see the
# docs for more details.